body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .border-custom {
    border-width: 5px;
    border-style: solid;
    border-color: white;

  }

  .colorFont {
    font-family: 'Caveat Brush', cursive;
    color: white;
    text-shadow: gray;
  }